.commentForm {
    display: flex;
}

.commentFormInput {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
}

.commentFormBtn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    margin-left: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}